* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    outline: none
}

.container {
    max-width: 1140px;
    margin: 0 auto
}

.swiper-container {
    width: 100%;
    height: 100%
}

html,
body {
    position: relative;
    height: 100%
}

#bg_part-one {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

body {
    color: white;
    background: rgba(0, 0, 0)
}

picture img {
    opacity: .5;
    width: 150vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    -webkit-animation: gradient 120s ease infinite;
    animation: gradient 120s ease infinite;
    -o-object-fit: cover;
    object-fit: cover
}

header {
    display: block;
    top: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #407599
}

header nav {
    display: -webkit-box;
    display: flex;
    min-height: 64px;
    height: 10vh;
    background: #407599
}

header nav .mylogo {
    margin-left: 5%;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    max-width: 70px;
    height: 100%;
    z-index: 1
}

header nav .mylogo img {
    width: 100%
}

header nav .nav-links {
    display: -webkit-box;
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto
}

header nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px
}

nav .burger {
    display: none;
}

.main-title .container .main-title_block {
    max-width: 513px;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    top: 40%;
    left: 50%
}

.main-title .container .main-title_block h1 {
    font-size: 64px;
    background: -webkit-gradient(linear, right top, left top, from(#c5c5c5), to(#599cc8));
    background: linear-gradient(to left, #c5c5c5, #599cc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.main-title .container .main-title_block h2 {
    background: -webkit-gradient(linear, right top, left top, from(#87878d), to(#68c0c0));
    background: linear-gradient(to left, #87878d, #68c0c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.presentation {
    padding: 0 15px
}

.about_block {
    margin: 0 auto;
    border: 5px solid #686868;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.411);
    padding: 15px;
    max-width: 540px;
    text-align: center;
    color: white
}

.about_block .container .text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-align: center
}

.about_block .container .text h2 {
    margin-bottom: 30px
}

.about_block .container .downloads .btns a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 0 15px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.about_block .container .downloads .btns a .flag {
    width: 30px
}

.about_block .container .downloads .btns a:before {
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg)
}

.about_block .container .downloads .btns a:hover {
    background: #00d9ff;
    color: #fff
}

.about_block .container .downloads .btns a:hover:before {
    left: 150px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.skills {
    color: black
}

.skills h2 {
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#56b3f1));
    background: linear-gradient(to left, #ffffff, #56b3f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.skills_block {
    padding: 5%
}

.skills_block h2 {
    text-align: center;
    margin-bottom: 30px
}

.skills_block .row {
    margin: 0 auto 30px;
    max-width: 800px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center
}

.skills_block .row .icon {
    padding: 10px 25px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: no-wrap;
    text-align: center;
    cursor: pointer;
    max-width: 70px;
    -webkit-transition: 1s ease;
    transition: 1s ease
}

.skills_block .row .icon .image {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.skills_block .row .icon .image span {
    font-weight: bold
}

.skills_block .row .icon svg {
    width: 100%
}

.skills_block .row .icon img {
    width: 100%
}

.skills_block .row .icon .progress {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    width: 70px;
    color: #f40
}

.skills_block .row .icon .progress:hover {
    opacity: 1
}

.skills_block .row .icon:hover .image {
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.skills_block .row .js .image {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.skills_block .row .avocode .image img {
    -webkit-transform: scale(.7);
    transform: scale(.7)
}

.skills_block .row .figma .image img {
    -webkit-transform: scale(.7);
    transform: scale(.7)
}

.iScrollVerticalScrollbar {
    opacity: 0
}

.to-site {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: #1b1b1b;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7c7c7), to(#407599)) #407599;
    background: linear-gradient(#c7c7c7, #407599) #407599;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.to-site:hover:not(:active) {
    background: -webkit-gradient(linear, left top, left bottom, from(#7e7e86), to(#46474c)) #7e7e86;
    background: linear-gradient(#7e7e86, #46474c) #7e7e86
}

.to-site:active {
    top: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c4d52), to(#38393e)) #4c4d52;
    background: linear-gradient(#4c4d52, #38393e) #4c4d52;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1)
}

.swiper-pagination .swiper-pagination-bullet {
    background: white
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: white
}

#fp-nav ul li a span {
    background: antiquewhite
}

.works {
    max-width: 100%;
    padding: 15px
}

.works h2 {
    padding-top: 50px;
    text-align: center;
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#56b3f1));
    background: linear-gradient(to left, #ffffff, #56b3f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.works .fp-scrollable {
    height: auto !important
}

.works .works-block {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    padding: 25px
}

.works .works-block .demo-cube {
    width: 26%;
    padding: 35px 15px
}

.works .works-block .demo-cube .swiper-wrapper .swiper-slide .slide-demo img {
    width: 100%
}

.works .works-block .demo-cube .swiper-wrapper .swiper-slide .slide-descr {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.works .works-block .demo-cube .swiper-wrapper .swiper-slide .slide-descr .to-site_block {
    background: rgba(0, 0, 0, 0.63);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white
}

.works .works-block .demo-cube .swiper-wrapper .swiper-slide .slide-descr .to-site_block .descr-text {
    padding: 15px
}

.works .works-block .demo-cube .swiper-wrapper .swiper-slide .slide-descr .to-site_block .descr-text h3 {
    margin-bottom: 10px
}

.works .works-block .demo-cube .swiper-wrapper .swiper-slide .slide-descr:hover {
    opacity: 1
}

.works .works-block .demo-cube .swiper-pagination {
    position: relative
}

.works .works-block .demo-descr {
    width: 350px;
    padding: 35px
}

.works .works-block .demo-descr .swiper-wrapper .swiper-slide {
    opacity: 0 !important
}

.works .works-block .demo-descr .swiper-wrapper .swiper-slide .descr-text {
    text-align: center
}

.works .works-block .demo-descr .swiper-wrapper .swiper-slide .descr-text p {
    padding: 15px 0;
    text-align: justify
}

.works .works-block .demo-descr .swiper-wrapper .swiper-slide-thumb-active {
    opacity: 1 !important
}

.connect-block {
    padding: 0 0 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

.connect-block .contacts {
    width: 300px;
    text-align: center
}

.connect-block .contacts h2 {
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#56b3f1));
    background: linear-gradient(to left, #ffffff, #56b3f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px
}

.connect-block .contacts .contacts-info {
    display: -webkit-box;
    display: flex;
    justify-content: space-around
}

.connect-block .contacts .contacts-info .contact {
    position: relative;
    overflow: hidden;
    padding: 13px;
    border: 2px solid white;
    background: gray;
    border-radius: 28px;
    width: 25px;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.connect-block .contacts .contacts-info .contact:before {
    content: "";
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    height: 70px;
    width: 70px;
    position: absolute;
    top: -8px;
    left: -85px;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg)
}

.connect-block .contacts .contacts-info .contact:hover {
    background: #47919e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.connect-block .contacts .contacts-info .contact:hover:before {
    left: 150px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.footer {
    z-index: 99;
    background: #407599;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0
}

@-webkit-keyframes gradient {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }

    50% {
        -webkit-transform: translateX(-28%);
        transform: translateX(-28%)
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@keyframes gradient {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }

    50% {
        -webkit-transform: translateX(-28%);
        transform: translateX(-28%)
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@media screen and (min-width:315px) and (max-width:450px) {
    .main-title .container .main-title_block h1 {
        font-size: 44px
    }

    .works .works-title h2 {
        padding-top: 0
    }

    .works .works-block {
        padding: 10px 0
    }

    .works .works-block .demo-cube {
        max-width: 250px;
        width: 60%;
        padding: 35px 0px
    }

    .works .works-block .demo-cube .cube-wrapper .swiper-slide .slide-demo .slide-descr {
        display: block
    }

    .works .works-block .demo-descr {
        display: none
    }
}

@media screen and (min-width:451px) and (max-width:625px) {
    .main-title .container .main-title_block h1 {
        font-size: 44px
    }

    .works .works-title h2 {
        padding-top: 0
    }

    .works .works-block .demo-cube {
        max-width: 300px;
        width: 60%;
        padding: 0px 0px 35px
    }

    .works .works-block .demo-cube .cube-wrapper .swiper-slide .slide-demo .slide-descr {
        display: block
    }

    .works .works-block .demo-descr {
        display: none
    }
}

@media screen and (max-width:768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px
    }

    nav {
        position: relative
    }

    nav .burger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        /*top: -10%;*/
        transform: scale(.8) !important;
        transform: rotate(180deg);
        -webkit-transform: translate(-5%, -50%);
        transform: translate(-5%, -50%);
        z-index: 2
    }
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#fff;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .ham6 .top {
        stroke-dasharray: 40 172;
    }
    .ham6 .middle {
        stroke-dasharray: 40 111;
    }
    .ham6 .bottom {
        stroke-dasharray: 40 172;
    }
    .ham6.active .top {
        stroke-dashoffset: -132px;
    }
    .ham6.active .middle {
        stroke-dashoffset: -71px;
    }
    .ham6.active .bottom {
        stroke-dashoffset: -132px;
    }

    nav .nav-links {
        position: fixed;
        background: #407599;
        height: 100vh !important;
        width: 100% !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out;
        pointer-events: none
    }

    .nav-links.open {
        z-index: 0;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all
    }

    .landing {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }

    .nav-links li {
        opacity: 0
    }

    .nav-links li a {
        font-size: 25px
    }

    .nav-links li:nth-child(1) {
        -webkit-transition: all .5s ease .2s;
        transition: all .5s ease .2s
    }

    .nav-links li:nth-child(2) {
        -webkit-transition: all .5s ease .4s;
        transition: all .5s ease .4s
    }

    .nav-links li:nth-child(3) {
        -webkit-transition: all .5s ease .6s;
        transition: all .5s ease .6s
    }

    li.fade {
        opacity: 1
    }
}

@media screen and (max-width:800px) {
    .presentation .about_block {
        margin: 12vh 0 12vh
    }

    .skills_block {
        margin-top: 12vh
    }

    .works-title {
        margin-top: 12vh
    }
}

.animated {
    -webkit-animation-duration: 1ms!important;
    animation-duration: 1s!important;
    -webkit-transition-duration: 1s!important;
    transition-duration: 1s!important;
    -webkit-animation-iteration-count: 1!important;
    animation-iteration-count: 1!important;
}

.hidden {
    z-index: -1 !important;
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: #407599;
}

.sk-wandering-cubes {
    width: 4em;
    height: 4em;
    position: relative;
    margin: auto;
}

.sk-wandering-cubes .sk-cube {
    background-color: #fff;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wandering-cubes 1.8s ease-in-out -1.8s infinite both;
    animation: sk-wandering-cubes 1.8s ease-in-out -1.8s infinite both;
}
.sk-wandering-cubes .sk-cube-2 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
}

@-webkit-keyframes sk-wandering-cubes {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
25% {
    -webkit-transform: translateX(2em) rotate(-90deg) scale(0.5);
            transform: translateX(2em) rotate(-90deg) scale(0.5);
}
50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(2em) translateY(2em) rotate(-179deg);
            transform: translateX(2em) translateY(2em) rotate(-179deg);
}
50.1% {
    -webkit-transform: translateX(2em) translateY(2em) rotate(-180deg);
            transform: translateX(2em) translateY(2em) rotate(-180deg);
}
75% {
    -webkit-transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
}
100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}
}

@keyframes sk-wandering-cubes {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
25% {
    -webkit-transform: translateX(2em) rotate(-90deg) scale(0.5);
            transform: translateX(2em) rotate(-90deg) scale(0.5);
}
50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(2em) translateY(2em) rotate(-179deg);
            transform: translateX(2em) translateY(2em) rotate(-179deg);
}
50.1% {
    -webkit-transform: translateX(2em) translateY(2em) rotate(-180deg);
            transform: translateX(2em) translateY(2em) rotate(-180deg);
}
75% {
    -webkit-transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5);
}
100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}
}